@import url('https://fonts.googleapis.com/css2?family=Fascinate&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Redacted+Script:wght@300;400;700&family=Rock+Salt&family=Yarndings+20+Charted&display=swap');

.material-symbols-outlined {
    font-variation-settings:
        'FILL'0,
        'wght'400,
        'GRAD'0,
        'opsz'24
}

:root {
    --AccentBGColor: White;
    --AccentTColor: black;
    --PrimaryFont: 'Inter';
    --SecondaryFont: 'Fascinate';
    --Shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    --ShadowWine: 0 8px 32px 0 rgba(114, 9, 9, 0.6);
    --Transition: 0.7s ease-in-out;
    --Wine: #b22626;
    cursor: none;
    --TertiaryFont: 'Redacted Script';
    --Gibberish: 'Yarndings 20 Charted';
    --Marker: 'Rock Salt';
}
#active{
    color:var(--Wine);
    text-decoration: line-through;
}
a:hover{
    color: var(--Wine);
    transition: var(--Transition);
}
html {
    cursor: none;
}
::selection{
    background-color: var(--Wine);
    color:white;
    transition: var(--Transition);
}
.customCursor {
    width: 20px;
    height: 20px;
    position: absolute;
    pointer-events: none;
    transform: translate(-50%, -50%);
    z-index: 999;
    background: rgba(136, 14, 14, 0.2);
    box-shadow: var(--Shadow);
    backdrop-filter: blur(4.5px);
    -webkit-backdrop-filter: blur(4.5px);
    border-radius: 100px;
}

body {
    background-color: var(--AccentBGColor);
    color: var(--AccentTColor);
    font-family: var(--PrimaryFont);
    scroll-behavior: smooth;
    display: flex;
    justify-content: center;
    cursor: none;
}

nav {
    border-top-left-radius: 1px;
    border-top-right-radius: 1px;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    box-shadow: var(--Shadow);
    padding: 15px;
    width: fit-content;
    position: fixed;
    top: 0px;
    background: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(4.5px);
    -webkit-backdrop-filter: blur(4.5px);
    border: 1px solid rgba(255, 255, 255, 0.18);
    z-index: 998;
}

a {
    color: inherit;
    text-decoration: none;
    padding-left: 12px;
    padding-right: 12px;
}

a:hover {
    cursor: none;
    text-decoration: dashed;
}

.logo {
    font-family: var(--SecondaryFont);
    font-size: x-large;
    padding-left: 15px;
    padding-right: 15px;
}

.logo:hover {
    color: var(--Wine);
    transition: var(--Transition);
}

.material-symbols-outlined {
    padding: 0 20px 0 20px;
}

section {
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(7px);
    -webkit-backdrop-filter: blur(7px);
    border-radius: 20px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    padding-bottom: 80px;
    padding-left: 80px;
    padding-right: 80px;
    padding-top:7vh;
    background-color: rgb(250, 252, 250);
    width: 100vw;
    height: auto;
    justify-content: center;
    justify-items: center;
    text-justify: center;
    font-size: 1.3em;
    word-spacing: 0.6em;
}
section>h1 {
    text-transform: uppercase;
    font-family: var(--Marker);
    font-size: 1.5em;
    text-align: center;
}
section>h1:hover{
    color:var(--Wine);
    transition: var(--Transition);
}
img{
    border-radius: 25px;
    justify-self: center;
    display: block;
    margin: 0 auto;
    backdrop-filter: blur(4.5px);
    box-shadow: var(--Shadow);
}
img:hover{
    border-radius: 50px;
    transition: var(--Transition);
    backdrop-filter: blur(0px);
    box-shadow: var(--ShadowWine);
}
button{
    padding:7px;
    background-color: white;
    border-radius: 15px;
    box-shadow: var(--Shadow);
    font-family: var(--PrimaryFont);
    font-size: 0.9em;
}
button:hover{
    border-radius: 25px;
    box-shadow: var(--ShadowWine);
    transition: 0.48s ease-in-out;
}
footer{
    position: fixed;
    bottom:0px;
    border-bottom-left-radius: 1px;
    border-bottom-right-radius: 1px;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    box-shadow: var(--Shadow);
    padding: 15px;
    width: fit-content;
    height: fit-content;
    background: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(4.5px);
    -webkit-backdrop-filter: blur(4.5px);
    border: 1px solid rgba(255, 255, 255, 0.18);
    z-index: 998;
}